.react-slideshow-container {
  position: relative;
  .nav {
    position: absolute;
    width: 100px !important;
    height: 100px !important;

    &:hover {
      background-color: $PRIMARY_COLOR !important;
    }

    svg {
      fill: white;
    }
  }

  [aria-label="Previous Slide"] {
    border-radius: 0 50% 50% 0 !important;
    transform: translateX(-50%);
    left: 0px;
    svg {
      transform: translateX(80%);
    }
  }

  [aria-label="Next Slide"] {
    border-radius: 50% 0 0 50% !important;
    transform: translateX(50%);
    right: 0px;
    svg {
      transform: translateX(-80%);
    }
  }
}
