$PRIMARY_COLOR: #ffa71a;
$SECONDARY_COLOR: #222;

$COLOR_SUCCESS: #55c431;
$COLOR_WARNING: #ff9e02;
$COLOR_ERROR: #ff3a28;

$TRANSPARENT_WHITE: #fff3;
$GRAY: #999;

$PRIMARY_TRANSPARENT_COLOR: #ffa71a88;
$SECONDARY_TRANSPARENT_COLOR: #2228;

$COLOR_SUCCESS: #55c431;
$COLOR_WARNING: #ff9e02;
$COLOR_ERROR: #ff3a28;

$TRANSPARENT_WHITE: #fff3;
$GRAY: #999;
